model/HnE_detection.pt
model/HnE_ST_segmentation.pt
model/HnE_BR_segmentation.pt
model/PDL1_TPS_detection.pt
model/HnE_detection_backup.pt
dist/
dist_nuitka/
build/
PathologyAIViewer_Portable/
__pycache__/
ai/__pycache__/
ai/nets/__pycache__/>
ai/utils/__pycache__/>
ui/__pycache__/>
ui/dialogs/__pycache__/>
core/__pycache__/>
backend/__pycache__/>
backend/services/__pycache__/>
utils/__pycache__/>
*.py[cod]
*$py.class
*.so
Clade.md
log_claude.md